<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Action history</title>
</head>
<body>
    <h1>Action history</h1><br />
    <ul>
        <li>Information</li>
        <li>Nutrition Store</li>
        <li>Trick Center</li>
    </ul>
</body>
</html>