@model BankOfSimba2.Models.BankAccount

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bank account</title>
</head>
<body>
    <h1>Single bank account:</h1>
    <p>This is account of @Model.Name who is @Model.AnimalType. Has value of @string.Format("{0:C}",@Model.Ballance) Zebras</p>
    </body>
</html>