
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Post submit</title>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<body>
    <h1>Submit a new post</h1><br />

    <form action="submit"method="post">
        <label for="title">Title:</label>
        <input type="text"id="title"name="title" /><br />

        <label for="url">URL:</label>
        <input type="url"id="url"name="url" />

        <input type="submit"value="Submit" />
    </form>

    <a href="/">Go back to the main page</a>

</body>
</html>