<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MrFox</title>
</head>
<body>
    <ul>
        <li>Information</li>
    </ul><br />
    <img src="~/Pictures/greenfox.png" alt="FoxPicture" style="height:150px;" /><br />
    <p>This is Mr.Fox. Currently living on pizza and lemonade. He knows 2 tricks.</p><br />
    <h1>Known tricks</h1><br />
    <ul>
        <li>Write HTML</li>
        <li>Code in Java</li>
    </ul>
</body>
</html>