
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Main Page</title>
</head>
<body>
    <h1>Main Page</h1>
    <br />
    <ol>
        <li>Unordered list with all the students.</li>
    </ol>
    </body>
</html>