<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add Task form</title>
</head>
<body>
    <h1>Add new todo:</h1><br />
    <form action="list" method="post">
        <input type="text" id="task" name="todo"><br>       @*name jako parametr v IActionResult*@
        <input type="submit" value="Add">
    </form>
</body>
</html>

