@model WebApplication1.ToDo

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Edit Todo</h1>
    <form action="update" method="post">
        <label for="todo">ToDo description:</label>
        <input type="text" id="todo" name="Title" required><br>

        <label for="urgent">Urgent:</label>
        <input type="checkbox" id="urgent" name="IsUrgent" value="true"/><br />

        <label for="done">Done:</label>
        <input type="checkbox" id="done" name="IsDone" value="true"/><br />

        <input type="submit" value="Submit" />

        <a href="~/todo/list">Cancel</a>
    </form>
    </body>
</html>