<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add Task form</title>
</head>
<body>
    <h1>Add new todo:</h1><br />
    <form action="list" method="post">
        <label for="title">Enter the title for the task:</label>
        <input type="text" id="title" name="title"><br>

        <label for="content">Enter the task:</label>
        <input type="text" id="content" name="task"><br>

        <input type="submit" value="Add">
    </form>
</body>
</html>

