<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Search</title>
</head>
<body>
    <h1>Search by Title /Content:</h1><br /><hr />
    <form action="search" method="post">
        <label for="text">Here enter searched text:</label>
        <input type="text"id="text"name="text" />

        <input type="submit"value="Search" />
    </form><hr />
</body>
</html>