@model BankOfSimba.Models.BankAccount
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bank account details</title>
</head>
<body>
    <p>Name: @Model.Name, Ballance: @Model.Ballance, Animal: @Model.AnimalType</p>
</body>
</html>